//minimum left and righ margin 
body {
	display: grid;
	//grid-auto-flow: row;
	// height: 100%;
 //  	width: 100%;
}

.nav_bar {
	grid-row-start: 1;
	display: block;
	position: relative;
	

	.title, .nav_links {
		position: absolute;
	}

	.title{
		left: 10%;
	}
	.nav_links{
		right: 10%;
	}
}

.content {
	grid-row-start: 2;
	// grid-column-start: 2;
	display: grid;
}

p {
	grid-column-start: 2;
}


// margins for content
//smaller or equal to screen size of iphone 8 (portrait)
@media (max-width: 300px) {
	.content  {
		grid-template-columns: 30px 1fr 30px;
	}
}

//ipad pro 12'9 screen size (portrait) 
@media (min-width: 301px) {
	.content {
		grid-template-columns: 0.2fr 1fr 0.2fr;
	}
}

@media (min-width: 1136px) {
	.content  {
		grid-template-columns: 1fr 800px 1fr;
	}
}

