body {
	grid-row-gap: 60px;

}
	.nav_bar {
		margin-top: 25px;

		.title, .nav_links {
			
		}

		.title {
			
		}

		.nav_links{
			
			.nav_link {
				margin-right: 9px;
				margin-left: 9px;
			}
		}
	}